<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tech Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<header class="bg-purple-600">
    <nav class="flex items-center justify-between py-4">
        <ul class="flex space-x-4 text-white ml-10">
            <li><a href="/" class="hover:text-gray-300">Home</a></li>
            <li><a href="/views/dashboard.handlebars" class="hover:text-gray-300">Dashboard</a></li>
            {{#if isLoggedIn}}
                <li><a href="/" class="hover:text-gray-300">Logout</a></li>
            {{else}}
                <li><a href="/views/login.handlebars" class="hover:text-gray-300">Login</a></li>
            {{/if}}
        </ul>
    </nav>
</header>


<body>
  <main>
    {{{body}}}
  </main>
</body>
</html>
