<style>

.hide {
    display: none;
}

</style>
<body>
<div class="container">
            <h1 class="title is-2">Tech Blog</h1>
            
            <div class="buttons mt-4">
                <h2 id="post-title" class="hide"></h2>
                <div id="post-content" class="hide"></div>
                <button class="button is-success" id="new-post">Create Post</button>
            </div>
        </div>
    <script src="/js/homepage.js"></script>
        <script src="/js/logout.js"></script>
</body>
