<!-- views/home.handlebars -->
<body>
<header class="bg-gradient-to-r from-purple-700 to-purple-500">
    <nav class="flex items-center justify-between py-4">
        <ul class="flex space-x-4 text-white ml-10 text-lg">
            <li><a href="/homepage" class="hover:text-gray-300 text-lg">Home</a></li>
            <li><a href="/dashboard" class="hover:text-gray-300 text-lg" id="goDashboard">Dashboard</a></li>
            <li><div id="goHome" class="hover:text-gray-300 text-lg">Logout</div></li>
        </ul>
    </nav>
</header>
<div class="bg-gradient-to-r from-purple-500 to-purple-700 text-white py-6">
    <div class="container mx-auto pl-8">
      <h1 class="text-4xl font-bold">Tech Blog</h1>
    </div>
</div>
<div class="container mx-auto py-8">
    {{#if posts}}
        <ul class="bg-purple-500 text-white">
            {{#each posts as |posts|}}
                <li class="mt-2">{{posts.post_title}}</li>
                <li>{{posts.post_content}}</li>
            {{/each}}
        </ul>
    {{else}}
        <p class="text-lg text-gray-600">No post available</p>
    {{/if}}
</div>

        <script src="/js/logout.js"></script>
</body>
